[submodule "CDVTwitter"]
	path = CDVTwitter
	url = https://github.com/RandyMcMillan/CDVTwitter.git
[submodule "CDVBrowser"]
	path = CDVBrowser
	url = https://github.com/RandyMcMillan/CDVBrowser.git
[submodule "CDVPDFReader"]
	path = CDVPDFReader
	url = https://github.com/RandyMcMillan/CDVPDFReader.git
[submodule "CDVPDFViewer"]
	path = CDVPDFViewer
	url = https://github.com/RandyMcMillan/CDVPDFViewer.git
[submodule "CDVPlugin"]
	path = CDVPlugin
	url = https://github.com/RandyMcMillan/CDVPlugin.git
[submodule "CDVEmailComposer"]
	path = CDVEmailComposer
	url = https://github.com/RandyMcMillan/CDVEmailComposer.git
[submodule "CDVSMSComposer"]
	path = CDVSMSComposer
	url = https://github.com/RandyMcMillan/CDVSMSComposer.git
[submodule "CDVCalendar"]
	path = CDVCalendar
	url = https://github.com/RandyMcMillan/CDVCalendar.git
[submodule "CDVOGLView"]
	path = CDVOGLView
	url = https://github.com/RandyMcMillan/CDVOGLView.git
[submodule "CDVGeoCoder"]
	path = CDVGeoCoder
	url = https://github.com/RandyMcMillan/CDVGeoCoder.git
[submodule "CDVRBVBtns"]
	path = CDVRBVBtns
	url = https://github.com/RandyMcMillan/CDVRBVBtns.git
