[submodule "CDVTwitter"]
	path = CDVTwitter
	url = https://github.com/RandyMcMillan/CDVTwitter.git
[submodule "CDVBrowser"]
	path = CDVBrowser
	url = https://github.com/RandyMcMillan/CDVBrowser.git
[submodule "CDVPDFViewer"]
	path = CDVPDFViewer
	url = https://github.com/RandyMcMillan/CDVPDFViewer.git
[submodule "CDVPlugin"]
	path = CDVPlugin
	url = https://github.com/RandyMcMillan/CDVPlugin.git
[submodule "CDVEmailComposer"]
	path = CDVEmailComposer
	url = https://github.com/RandyMcMillan/CDVEmailComposer.git
[submodule "CDVSMSComposer"]
	path = CDVSMSComposer
	url = https://github.com/RandyMcMillan/CDVSMSComposer.git
